body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Start screen */
#start-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quiz {
    margin-bottom: 140px;
}

#welcome {
    margin-bottom: 80px;
    text-align: center;
}

#button1 {
    height: 60px;
    width: 200px;
    border-radius: 30px;
}

#game-screen {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question {
    width: 800px;
    text-align: left;
    margin-bottom: 80px;
    font-size: 32px;
    font-weight: bold;
    padding-left: 40px;
}

.allbtn {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.btn {
    width: 300px;
    height: 80px;
}

.footer {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, purple, hotpink, red);
    border-top: 4px solid black;
}