body{
/* why is it important to create a div in html or why i doesnt use 
class over body generally when we do display as flex it means it will
show the child elemnt inside a single line */
    margin: 0; 
    height: 100vh;
    display: flex;
    justify-content: center; /* bring the content left to right */
    align-items: center; /* bring content top to bottom */
/* after centring everything we see the content is in the centre but
the text is not its comming from lwft to right which is not good looking*/
    text-align: center;
}
#quiz {
   height: 20vh;
   display: flex; 
   justify-content: center;
   text-align: center;
}

#welcome{
    display: flex;
   justify-content: center;
   text-align: center;
   padding-bottom: 100px;
}

#button1{
    height: 10vh;
    width: 30vh;
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;

/* why is used different id? = to make changes individually  padding
or height they worked in stack manner from 100 some part is given to 
first id than other than other. */
   

}

